02_ejercicios/01_listin/listin.dtd

<?xml version="1.0" encoding="UTF-8" standalone = "no" ?>

<!ELEMENT listin (contacto+)>

<!ELEMENT contacto (nombre, email*, relacion?)>

        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT relacion EMPTY>

        <!ATTLIST contacto id ID #REQUIRED
                    sexo (hombre|mujer)#IMPLIED>

        <!ATTLIST relacion amigo_de CDATA #REQUIRED
                            enemigo_de CDATA #REQUIRED>














