02_ejercicios/01_listin/listin.dtd

<?xml version="1.0" encoding="UTF-8" standalone = "yes" ?>

        <!ELEMENT listin ( persona+)>

<!ELEMENT persona (nombre, email, relacion)>

        <!ATTLIST  persona id #REQUIRED
                    sexo (hombre | mujer )#IMPLIED
            >

        <!ELEMENT nombre (#PCDATA)>
        <!ELEMENT email (#PCDATA)>
        <!ELEMENT relacion EMPTY)>

<!ATTLIST relacion
        amigo_de CDATA #IMPLIED
        enemigo_de CDATA #IMPLIED
>










